/shaders/sh_blur_realtime/
/shaders/sh_blur_static/
/shaders/__ba_sh_blur_baked/
/shaders/__ba_sh_blur_gaussian/
/shaders/__ba_sh_blur_noise/
/shaders/__ba_sh_downscale/
/scripts/blur_scripts/
/scripts/__blur_area_functions/
/extensions/pygml/ffmpeg
/extensions/pygml/ffprobe
/__MACOSX/shaders/sh_blur_realtime/
/__MACOSX/shaders/sh_blur_static/
/__MACOSX/shaders/__ba_sh_blur_baked/
/__MACOSX/shaders/__ba_sh_blur_gaussian/
/__MACOSX/shaders/__ba_sh_blur_noise/
/__MACOSX/shaders/__ba_sh_downscale/
/__MACOSX/scripts/blur_scripts/
/__MACOSX/scripts/__blur_area_functions/
/__MACOSX/._shaders
/__MACOSX/shaders/._shader_liquid_glass
__MACOSX/shaders/.___ba_sh_blur_gaussian
__MACOSX/shaders/.___ba_sh_downscale
__MACOSX/shaders/._sh_blur_static
__MACOSX/shaders/._sh_blur_realtime
__MACOSX/shaders/.___ba_sh_blur_noise
**/.DS_Store
