[Desktop Entry]
Version=1.0
Type=Application
Name=Note Block Studio
Comment=An open-source Minecraft music editor
Exec=AppRun %f
Icon=org.opennbs.onbs
Terminal=false
Categories=AudioVideo;Audio;
MimeType=audio/nbs;
StartupNotify=true
